# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

## General
NODE_ENV="development"
PORT=4006
SESSIONS_SECRET="replace with your secret"
HOST_URL="http://localhost:4006"
JWT_SECRET="replace_with_your_jwt_secret"
NODE_ENV="development"
MAILTRAP_TOKEN="e7ad8060abc17c8fb2285e0faa2aa0bb"
CLIENT_URL= "http://localhost:5173"

#DB
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="admin"
DB_NAME="rec"
DB_PORT=3306
DB_URL="mysql://root:12345@localhost:3306/rec"
